@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #d7e0f7;
  --background: #050b18;
  --primary: #86a9e7;
  --primary-hover: #6c8fd6;
  --secondary: #901d8c;
  --secondary-hover: #7a1a7e;
  --accent: #db499a;
  --linearPrimarySecondary: linear-gradient(#86a9e7, #901d8c);
  --linearPrimaryAccent: linear-gradient(#86a9e7, #db499a);
  --linearSecondaryAccent: linear-gradient(#901d8c, #db499a);
  --radialPrimarySecondary: radial-gradient(#86a9e7, #901d8c);
  --radialPrimaryAccent: radial-gradient(#86a9e7, #db499a);
  --radialSecondaryAccent: radial-gradient(#901d8c, #db499a);
}

body {
  background-color: var(--background);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: var(--text);
  margin: 0;
}

main {
  margin: 15px;
}

.header-title {
  font-size: 28px;

  margin: 0;
  padding: 0;
}

.expander {
  width: 100%;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-4 {
  margin-left: 4rem;
}

.ml-5 {
  margin-left: 5rem;
}

.ml-6 {
  margin-left: 6rem;
}

.sidenav {
  display: flex;
  flex-direction: column;
}

title {
  display: none;
}

a {
  cursor: pointer;
}

.docs-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.docs-sidebar {
  margin-right: 2rem;
}
